.widget_posts{
    display: inline-block;
    width: 100%;
    @include respond-to() {
      width: $size__site-full;
    }
    h2{
      position: relative;
      width: 100%;
      margin: 0 auto;
  		padding: 10px 0;
  		text-align: center;
      text-transform: uppercase;
      text-decoration: underline;
      background-color: #fff;
      color: #000;
      z-index: 1;
      @include respond-to() {
        width: $size__site-full;
      }
    }
    ul{
      display: inline;
  		list-style: none;
      @include respond-to() {
        width: $size__site-full;
      }
  		li {
        display: inline-block;
    		width: calc(100% / 3 - 18px);
        height: 320px;
    		margin: 9px;
    		padding: 10px;
    		float: left;
    		@include respond-to() {
    			left: 0;
    			right: 0;
    			margin: 0 auto;
    			margin-top: 10px;
    			width: 100%;
        }
        a{
          text-align: center;
        }
        .entry-thumbnail{
          display: block;
          position: relative;
          width: 300px;
          height: 200px;
          margin: 0 auto;
          padding: 0;
          @include respond-to() {
						width: $size__site-full;
					}
        }
        img{
          display: block;
          position: relative;
          width: 300px;
          height: 200px;
          margin: 0 auto;
          padding: 0;
          @include respond-to() {
						width: $size__site-full;
					}
        }
        p{
          font-weight: bold;
          color: #000;
          overflow: hidden;
          @include respond-to() {
						width: $size__site-full;
					}
        }
      }
      .view-counts {
        display: table;
        margin: 0 auto;
        padding: 5px;
        border: 2px solid gray;
        border-radius: 10px;
        text-align: center;
				color: #000;
        @include respond-to() {
					width: $size__site-full;
				}
			}
    }
  }
